.form-content {
    min-width: 500px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color-primary);
}

.fields {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field-name {
    color: black;
    font-size: small;
}

.input-box {
    width: 100%;
    height: 55px;

    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px 10px;

    font-size: small;
}

.field-error {
    color: darkred;
    font-size: small;
}

.input-box::placeholder {
    font-size: small;
}

.text-area {
    min-width: 100%;
    min-height: 55px;
    height: 110px;
}

.powers-input-bar {
    height: 55px;
    width: 100%;
    display: flex;
    gap: 5px
}

.button {
    background: var(--primary-bg-gradient);
    color: var(--color-light);
}

.plus-button {
    flex-shrink: 0;
    width: 55px;
    height: 55px;

    border: none;
    border-radius: 5px;
}

.powers {
    padding: 10px 0;
    display: grid;
    gap: 5px
}

.power {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light);
    border: 1px solid black;
    border-radius: 5px;
}

.power-text {
    padding: 0 10px;
    font-size: small;
}
.power-cancel-button {
    width: 30px;
    background-color: transparent;
    border: none;
}
.power-cancel-button:hover {
    background-color: rgb(131, 21, 21);
}

.submit-button {
    width: 100%;
    height: 50px;
    
    border-radius: 25px;
    border: none;
}
