.form-content {
    min-width: 500px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color-primary);
}

.fields {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field-name {
    color: black;
    font-size: small;
}

.input-box {
    width: 100%;
    height: 55px;

    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px 10px;

    font-size: small;
}

.input-box::placeholder {
    font-size: small;
}

.text-area {
    min-width: 100%;
    min-height: 55px;
    height: 110px;
}

.submit-button {
    width: 100%;
    height: 50px;
    background: var(--primary-bg-gradient);
    color: var(--color-light);
    border-radius: 25px;
    border: none;
}
