.form-content {
    min-width: 500px;
    width: min-content;
    max-width: 100%;

    padding: 30px;

    display: inline-flex;
    flex-direction: column;

    gap: 30px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--color-primary);
}

.fields {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field-name {
    color: black;
    font-size: small;
}

.input-box {
    width: 100%;
    height: 55px;

    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 10px 10px;

    font-size: small;
}

.field-error {
    color: darkred;
    font-size: small;
}

.input-box::placeholder {
    font-size: small;
}

.text-area {
    min-width: 100%;
    min-height: 55px;
    height: 110px;
    resize: both;
}

.powers-input-bar {
    height: 55px;
    width: 100%;
    display: flex;
    gap: 5px
}

.button {
    background: var(--primary-bg-gradient);
    color: var(--color-light);
}

.plus-button {
    flex-shrink: 0;
    width: 55px;
    height: 55px;

    border: none;
    border-radius: 5px;
}

.powers-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.powers {
    display: grid;
    gap: 5px
}

.power {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light);
    border: 1px solid black;
    border-radius: 5px;
}

.power-text {
    padding: 0 10px;
    font-size: small;
}
.power-cancel-button {
    width: 30px;
    background-color: transparent;
    border: none;
}
.power-cancel-button:hover {
    background-color: var(--danger-bg-color-transp);
}

.file-input-button {
    /* height: 55px; */
    width: 50%;
    padding: 5px 20px;
    background: var(--primary-bg-gradient);

    border-radius: 10px;
    border: none;

    color: var(--color-light);
    font-size: small;   
    
    display: flex;
    justify-content: center;
}


.images {
    width: 100%;    
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
    gap: 10px;
}

.image-field-item {
    position: relative;
    width: 100%;
    
    aspect-ratio: 1 / 1;

    border-radius: 10px;
    overflow: hidden;
    border: 5px solid var(--color-primary);
}

.image-field-item button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;

    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.image-field-item button:hover {
    background-color: var(--danger-bg-color-transp);
}

.image-field-item img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-field-item-text {
    position: absolute;
    bottom: 5px;
    left: 5px;

    background-color: var(--color-light);
    border-radius: 5px;
    padding: 0px 5px;

    color: var(--color-primary);
    font-size: xx-small;
    font-weight: bold;
    word-break: break-all;
}


.submit-button {
    width: 100%;
    height: 50px;
    
    border-radius: 25px;
    border: none;
}
