
.app-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--secondary-bg-color);
}