:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* --- COLORS --- */
  --palette-purple: #3B185F;
  --pallette-pink: #C0259B;
  --palette-ligth-gray: #F0F2F5;
  --palette-white: white;
  --palette-red-transp: rgba(255, 0, 0, 0.600);

  /* --- SEMANTICS --- */
  --primary-bg-gradient: linear-gradient(135deg, var(--palette-purple) 20%, var(--pallette-pink) 100%);
  --secondary-bg-color: var(--palette-ligth-gray);
  --danger-bg-color-transp: var(--palette-red-transp);

  --color-primary: var(--palette-purple);
  --color-light: var(--palette-white);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

input, button, textarea, select {
  font: inherit;
}