:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --palette-purple: linear-gradient(135deg, #3B185F 0%, #C0259B 100%);
  --palette-ligth-gray: #F0F2F5;

  --primary-bg: var(--palette-purple);
  --secondary-bg: var(--palette-ligth-gray);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

input, button, textarea, select {
  font: inherit;
}