

.navbar {
    width: 100%;
    height: 80px;
    background: var(--primary-bg-gradient);
    color: var(--color-light);
}

.footer {
    width: 100%;
    height: 80px;
    background: var(--primary-bg-gradient);
    color: var(--color-light);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message {
    padding: 0 40px;

    font-size: small;
}

.navbar ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 0px 20px

}

.navbar a, .footer a {
    color: var(--color-light);
    text-decoration: none;
}